.app-hero-cta {
  background: linear-gradient(to right, #ff6f00, #ffab00);
  text-align: center;
  padding: 50px;
}

.app-hero-cta h2 {
  font-size: 24px;
  color: #000;
}

.app-hero-cta a {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.app-hero-cta img {
  max-width: 100px;
  margin-bottom: 20px;
}
